[Unit]
Description=Posts the GPU(s) in a state where they are ready to be virtualized. 

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=on-failure
RestartSec=5s

ExecStart=/usr/bin/gvm-cli -c /etc/gvm/user/generate-vgpu-types.toml

[Install]
WantedBy=multi-user.target
